.Parent-box{
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 80px;
    background-color: cadetblue;
}

.Foto{
    width: 50%;
    height: 500px;
    background: cadetblue;
}

.Foto img{
    width: 300px;
}